body {
	background: -webkit-linear-gradient(top, #35537a 0%,#1d2d44 100%);
}

body input.form-control.connectInput {
	font-size: 20px;
	height: 40px;
	padding: 11px 10px 9px;
	border: solid #888 1px;
}
body .btn {
font-size: 15px;
font-weight: bold;
background: #c83771;
border: #c83771;
}

/* Nicely grouping input field sets */
.grouptop,
.groupbottom {
	position: relative;
}

#body-login .grouptop input,
.grouptop input {
	margin-bottom: 0;
	border-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#body-login .groupbottom input,
.groupbottom input {
	margin-top: -8;
	margin-bottom: 20px;
	border-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.centerPage {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shutdownButton {
    font-size: 22px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 7px;
	color: white;
}

.connectionFailed{
	font-size: 18px;
	font-weight: bold;
    color: #CC3A36;
}

.logoISC{
    position: fixed;
    width: 200px;
    bottom: 20px;
    right: 20 ;
}